<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/itpproject/soapserver.php"
                binding="basicHttpBinding" bindingConfiguration="wsBinding"
                contract="ServiceReference1.wsPortType" name="wsPort" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="wsBinding" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>